<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArkServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArkServer.Properties.Settings>
            <setting name="ServerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerSelection" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoRestartOption" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ModList" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxPlayers" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableBattleEye" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableRCON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartServerIfNotRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RconIp" serializeAs="String">
                <value />
            </setting>
            <setting name="RconPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Map" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="QueryPort" serializeAs="String">
                <value />
            </setting>
            <setting name="RconExecutablePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamCmdPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RconCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="ScheduledBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="BackupLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepOldestBackup" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedServers" serializeAs="String">
                <value />
            </setting>
        </ArkServer.Properties.Settings>
    </userSettings>
</configuration>